.top {
	background-image: url(../image/angel-17045_1920.jpg);
	background-position: center;
	background-size: cover;
	height: 674px;
	position: relative;
	animation: bgiLoop 7s linear infinite;
}
@keyframes bgiLoop {
    0% { background-position: 5 5;}
  100% { background-position: 120px 10px;}
}
	.top-title {
		font-size: 50px;
		color: cl(white);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		margin-top: 100px;
		text-align: center;
	}

	